.products-container {
  text-align: center;
}

.product {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.product img {
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
  }

  .product {
    width: calc(33.3333% - 20px);
  }
}

@media screen and (max-width: 767px) and (min-width: 481px) {
  .product {
    width: calc(50% - 20px);
  }
}

@media screen and (max-width: 480px) {
  .product {
    width: 100%;
  }
}